:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --third-bg-color: #2F303A;
    --accent-color: #2196F3;
}

.page{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

/* стилізація хедера */

.page-header {
    background-color: #FFFFFF;
}

/* стилізація лого */

.logo {
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio-footer {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* стилізація навігації */

.site-nav .link {
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
    color: var(--accent-color);
}

/* герой */

.hero {
    background-color: var(--third-bg-color);
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

/* приховані заголовки */

.hidden-title {
    visibility: hidden;
}

/* секції */


.li-title {
    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-title {
    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
}

.team {
    background-color: var(--secondary-bg-color);
}

.li-title-team {
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
}

.p-team {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.li-title-portfolio {
    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.p-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}






/* Кнопки */

.hero-button {
    background-color: var(--accent-color);
    
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
}

.gallery-button {
    background-color: var(--secondary-bg-color);

    color: var(--tittle-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
}

.gallery-button:hover,
.gallery-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;
}

/* футер */

.footer {
    background-color: var(--third-bg-color);
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
}

.link-map {
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
}

.link-map:hover,
.link-map:focus {
    color: var(--accent-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}





